body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

p {
    font-family: var(--text);
}

a {
    text-decoration: none;
    color: var(--dark);
}

.header {
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 10% 15px 0; 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    box-sizing: border-box; 
}

.header-nav {
    display: flex;
    margin-right: 2%;
    gap: 30px;
}

.head-nav-link {
    color: black;
    text-decoration: none;
}

.head-nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: .5s;
}

.head-nav-link {
    color: black;
    text-decoration: none;
    padding: 9px 15px;
    border-radius: 24px; 
}

.header-logo {
    width: 65px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: auto;
    margin-left: 80px;
}

